@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
html {
  height: 100vh;
}
body {
  padding-top: 5%;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  background: linear-gradient(#fff, #fefefe, #eaeaea);
}

.accordion-text {
  flex: 1;
  text-align: center;
}

.accordion {
  max-width: 990px;
  background: rgba(0, 0, 0, 0.1);
  height: 300px;
  margin: 30px auto;
  display: flex;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 100px;
}
.box {
  position: relative;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: 0.7s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover {
  flex: 7;
  height: 400px;
}
.a1 {
  background-image: url("/templatemo_576_snapx_photography/assets/images/harps-joseph-tAvpDE7fXgY-unsplash.jpg");
}
.a2 {
  background-image: url("/templatemo_576_snapx_photography/assets/images/dragos-gontariu-GH-mSApoKO0-unsplash.jpg");
}
.a3 {
  background-image: url("/templatemo_576_snapx_photography/assets/images/allgo-an-app-for-plus-size-people-Akaz9xK_f2M-unsplash.jpg");
  color: #fff;
}
.a4 {
  background-image: url("/templatemo_576_snapx_photography/assets/images/foto-sushi-6anudmpILw4-unsplash.jpg");
  color: #fff;
}
.a5 {
  background-image: url("/templatemo_576_snapx_photography/assets/images/author.jpg");
}
p {
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 900;
  font-family: 'playfair display', serif;
  margin-bottom: 5px;
  color: whitesmoke;
  border: 0;
  text-decoration: none;
}
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: white;
  padding: 15px;
  font-size: 25px;
  font-weight: 900;
  font-family: "playfair display", serif;
  margin-bottom: 5px;
}
.box:hover .text {
  opacity: 1;
}
h1 {
  width: 350px;
  text-align: center;
  margin: 100px auto 20px auto;
}
@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .accordion {
    flex-direction: column;
    height: 700px;
    box-shadow: none;
  }
  .box {
    box-shadow: none;
  }
  .box:hover {
    flex: 7;
  }
}
