body {
    background-color: #969696;
}

.map-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top:5%;
    background-color: #cacaca;
    column-gap: 0px;
    width: 100%;
    min-height: 200px;
  }
  
  .map-item {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .text-item {
    display: grid;
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }